<!-- {{(result$|async)|json}} -->
<!--  | async  | json  -->
<div *ngIf="null === (articles)">Loading...</div>
<div class="row"> <!-- *ngIf="result$"-->
    <div class="col card" *ngFor="let article of articles">
        <div class="card-body">
            <img ng-src="{{article.articleImage}}" class="card-img-top" alt="article image">
            <h3 class="display-4">
                <a routerLink="/article/{{article.id}}">
                    <span class="card-title">
                        {{article.articleTitle}}
                    </span>
                </a>
            </h3>
            <div class="card-text">
                {{article.articleDesc}}
            </div>
            <!-- <p class="card-text"> {{article.articleText}}</p> -->
            <button (click)="edit()">edit</button>
            <button (click)="delete()">delete</button>
        </div>
    </div>
</div>
<button (click)="new()">new</button>
<div>
  <div *ngFor="let article of articles">{{article|json}}</div>
</div>
