<div *ngIf="article">
  <!-- depending on mode [VIEW,EDIT,NEW] render either input or view html -->
  <div *ngIf="mode === StateEnum.view">
    <h2>{{article.articleTitle | uppercase}}</h2>
    <small class="text-muted">{{article.articleDesc}}</small>
    <div>
      <p>{{article.articleText}}</p>
    </div>
    <div>
      <button (click)="new()">new</button>
      <button (click)="edit()">edit</button>
      <button (click)="delete()">delete</button>
    </div>
  </div>

  <div *ngIf="mode === StateEnum.edit">
    <form [formGroup]="articleForm" (ngSubmit)="save()" >
      <div>
        <span>Article title: </span>
        <br/>
        <input type='text' formControlName="articleTitle" value={{article.articleTitle}} required>
      </div>
      <div>
        <br/>
        <span>Article description: </span>
        <br/>
        <textarea class="text-muted" formControlName="articleDesc">{{article.articleDesc}}</textarea>
      </div>
      <div>
        <br/>
        <span>Article text: </span>
        <br/>
        <textarea formControlName="articleText">{{article.articleText}}</textarea>
      </div>
      <div>
        <button (click)="save()">save</button>
        <button (click)="cancel()">cancel</button>
      </div>
    </form>
  </div>
  <hr>
  <p>
   Article : {{ article | json }}
  </p>
</div>
